div.controls {
    float:left;
}

div.controls div {
      border:2px solid darkgrey;
      color: black;
      padding:1em;
      margin-bottom:1em;
}

#arena {
    padding:0;
    margin:10%;
    float:left;
    width:400px;
    position:relative;
    background:lightgreen;
    height:400px;
    border:1px solid black;
}

div.paddle_area {
    padding:0;
    margin:0;
    position:absolute;
    width:50px;
    height:100%;
    background:lightblue;
}

#left_paddle_area {
    left:0%;
}

#right_paddle_area {
    left:350px;
}

#playfield {
    margin-left:50px;
    margin-right:50px;
    width:400px;
    float:left;
    position:relative;
    height:100%;
}

div.controls {
      float:left;
      margin-top:1em;
      padding-top:1em;
      padding-bottom:1em;
      padding-left:1em;
      white-space:normal;
}

div.paddle {
    padding:0;
    float:left;
    margin:0;
    position:relative;
    border:3px solid green;
    width:45px;
    height:25%;
    background: #c9e310;
    color:white;
}

#paddleleft {
    left:0;
    top:10%;
}

#paddleright {
    top:50%;
}

.ball {
    padding:0;
    margin:0;
    float:left;
    width:10px;
    height:10px;
    position:absolute;
    border:1px solid black;
}

#ball1 {
    background: red;
}

#ball2 {
    background: blue;
}

